@charset"utf-8";
*{
  padding:0;
  margin:0;
  border:0;
}
li{
	list-style:none;
}
.header{
  width:1000px;
  margin:0 auto;
  box-shadow:0px 0px 20px #ccc;
}
/*中间部分*/
article{
  height:650px;
  width:1000px;
  margin:0 auto;
  background:#ffffff;
  font-size:14px;
}
a{
  text-decoration:none;
  color:black;
}
.celan{
  height:475px;
  width:192px;
  float:left;
  margin-top:53px;
  margin-left:65px;
  list-style:none;
  overflow:hidden;
  color:white;

}
.celan p{
  height:30px;
  width:191px;
  background:-webkit-linear-gradient(top,#38abe3,#1881ce);
  line-height:30px;
  text-align:center;
  text-shadow:2px 2px 2px black;
  border-radius:5px;
  
}
.celan li{
  height:47px;
  width:100%;
  border-bottom:1px solid #a0a0a0;
  text-indent:9px;
  
}
.celan li a{
  cursor:pointer;
  display:block;
  height:30px;
  width:191px;
  line-height:30px;
  margin-top:14px;
  float:left;
  color:white;
  text-shadow:2px 2px 2px gray;
  background:#9fa0a0;
  border-radius:5px;
  text-align:center;
  
}
.celan li a:hover{
	color:#faee58;
}
.tabcont{
 min-height:560px;
 width:606px;
 float:left;
 margin-left:55px;
 margin-top:44px;
 border:1px solid #ccc;
}
.tabcont ul{
  list-style:none;
  float:left;
  margin-left:12px;
  margin-top:4px;
}
.tabcont ul li{
  text-indent:18px;
  width:569px;
  height:32px;
  line-height:37px;
  background:url(../images/jt1.jpg) no-repeat 0 13px;
  border-bottom:1px dashed  #b7b8b8;
}
.tabcont ul li a:hover{
	color:red;
}
/*脚部*/
.footer{
	width:1000px;
	height:143px;
	position: relative;
	margin:0 auto;
	font-family: "宋体";
	color: white;
	font-size: 12px;
}
.footer>img{
	position: absolute;
	left:0;
}
.footer>p:nth-child(1){
	position: relative;
	width:100%;
	height:12px;
	font-size: 12px;
	text-align: center;
	line-height: 12px;
    color:white;
    margin-top:48px;
    float: left;
	z-index: 100;
}
.footer>p:nth-child(2){
	width:100%;
	height:12px;
	font-size: 12px;
	position: relative;
	z-index: 100;
	text-align: center;
	line-height: 12px;
    color:white;
    margin-top:26px;
    float: left;
}



.top{
	height:225px;
	width:1000px;
	margin: 0 auto;
	border-bottom: 1px solid #a8a8a8;
	font-family: "宋体";
	font-size: 18px;
	overflow: hidden;
}
.banner{
	height:180px;
}
.nav{
	height:45px;
	background: #167ecd;
}
.nav a{
	color:white;
	text-decoration: none;
}
.nav a:hover{
	text-decoration: underline;
}
.nav li:hover{
	background: #20b6fb;
	display: block;
}
.menu{
	width:690px;
	height:45px;
	margin: auto;
}
.nav li{
	height:45px;
	width:108px;
	float: left;
	line-height: 45px;
	margin-left:10px ;
	font-size: 18px;
	text-align: center;
	margin: auto;
}
.menu>li:hover .Submenu{
	display: block;
}
.menu>li:hover .Submenu_two{
	display: block;
}
.Submenu{
	height:90px;
	width:108px;
	background: #167ecd;
	display: none;
	position: absolute;
}
.Submenu_two{
	width:108px;
	height:270px;
	background: #167ecd;
	display: none;
	position: absolute;
}
