*{
			margin: 0;
			padding: 0;
		}
		
		.box{
			width:1000px;
			margin:auto;
			box-shadow:0px 0px 20px #ccc;
		}
		.con_box{
			width:710px;
			min-height:795px;
			margin:auto;
		
			overflow:hidden;
		}
		.con_box h3{
			text-align:center;
			margin-top:49px;
			margin-bottom:40px;
		}
		.info{
			margin:16px 0 26px;
		}
		.info img{
			display:inline-block;
			vertical-align:middle;
		}
		.con_text{
			width:100%;		
		}
		.con_text img{

		}
		.con_text p{
			text-indent::36px;
		}